:root {
  --branding-color: #94b5a2;
  --secondray-color: #3d3d3d;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--secondray-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 54px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

a {
  color: var(--branding-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.name-header {
  color: var(--secondray-color);
  opacity: 80%;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}

p.name-header-small {
  color: var(--secondray-color);
  opacity: 80%;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 3px #eaeaea;
  padding: 20px 50px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 20px;
}

nav li.active a {
  font-weight: bold;
}

nav a {
  transition: all 200ms ease-in-out;
}

.hero {
  background-color: #211f19;
  text-align: center;
  padding: 160px 30px;
}

.hero h1 {
  color: #fff;
  font-size: 86px;
  font-weight: bold;
}

.hero h2 {
  color: #fff;
  font-family: var(--default-font-family);
  font-size: 28px;
  font-weight: 300;
  line-height: 2;
}

a.hero-about-me {
  color: #fff;
}

a.hero-about-me:hover {
  color: var(--branding-color);
  text-decoration: none;
}

.content {
  padding: 120px 80px;
}

.content h1 {
  font-size: 44px;
  font-weight: bold;
  line-height: 1.5;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.content h3 {
  text-align: center;
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 16px;
}

p.about-section {
  font-size: 18px;
  line-height: 30px;
}

.btn-branding.about-section-btn {
  margin-left: 180px;
}

img {
  width: 380px;
  border-radius: 4px;
  margin: 80px 60px 40px 60px;
  padding: 10px 5px;
}

.btn-branding {
  color: #fff;
  background-color: var(--branding-color);
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 15px 20px;
}

.btn-branding:hover {
  color: var(--branding-color);
  background-color: #fff;
  border: 1px solid var(--branding-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 15px 20px;
}

.btn-branding-outline:hover {
  color: #fff;
  background-color: var(--branding-color);
}

.project-description {
  padding: 120px 30px;
}

footer {
  background-color: #211f19;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 20px 0;
  padding: 40px 0;
}

footer h3 {
  color: #fff;
  font-size: 26px;
}

footer .email-link {
  font-size: 18px;
  margin: 40px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  color: var(--branding-color);
  font-size: 28px;
  margin: 0 20px;
  transition: all 200ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
}

p.footer-paragragh {
  color: var(--secondray-color);
  opacity: 60%;
}

@media (max-width: 960px) {
  h2 {
    font-size: 38px;
  }

  nav a {
    font-size: 14px;
  }

  .hero {
    padding: 110px 20px;
    margin-bottom: 50px;
  }

  .hero h1 {
    font-size: 58px;
  }

  .hero h2 {
    font-size: 20px;
    line-height: 1.5;
  }

  .content {
    padding: 80px 60px;
  }

  .content h1 {
    font-size: 38px;
  }

  .content h2 {
    font-size: 18px;
    line-height: 1.5;
  }

  .content img {
    display: block;
    margin: 0 auto;
  }

  .about-section {
    text-align: center;
  }

  p.about-section {
    font-size: 14px;
  }

  img.about-section {
    width: 240px;
    display: block;
    margin: 0 auto;
  }

  .btn-branding.about-section-btn {
    display: block;
    margin: 30px 80px;
  }

  .project-description {
    text-align: center;
    padding: 0 30px;
  }

  footer {
    text-align: center;
    padding: 20px;
  }

  footer h3 {
    font-size: 24px;
  }

  footer .social-links a {
    font-size: 20px;
  }

  p.footer-paragragh {
    font-size: 10px;
    line-height: 1.5;
  }
}
